<%= form_with(model: methodology_review, local: true) do |form| %>
  <% if methodology_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(methodology_review.errors.count, "error") %> prohibited this methodology_review from being saved:</h2>

      <ul>
      <% methodology_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stars %>
    <%= form.number_field :stars, id: :methodology_review_stars %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :methodology_review_description %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :methodology_review_user_id %>
  </div>

  <div class="field">
    <%= form.label :methodology_id %>
    <%= form.text_field :methodology_id, id: :methodology_review_methodology_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
