<div><h1><strong><center> Etapa 2 de 6: Elegir  </center></strong></h1></div>
</br>
<%= progress_bar 0.33, label: true, style: 'min-width: 20px', alternative: 'success', active: true %>

<table class='table'>
  <thead>
    <tr>
      <th>Metodologia</th>
      <th>Comentarios Generales</th>
      <th>Utilidad</th>
      <th>Pertinencia</th>
      <th>Relevancia</th>
      <th> Puntaje </th>
    </tr>
  </thead>
  <tbody class='fields'>
    <% @project.project_connection.methodology_evaluations.each do |mev| %>
      <tr>
          <td><%=mev.methodology.name%></td>
          <td><%=mev.reason%></td>
          <td><%=mev.utility%></td>
          <td><%=mev.pertinence%></td>
          <td><%=mev.relevance%></td>
          <td><%=mev.utility + mev.relevance + mev.pertinence%></td>
      </tr>
      <% end %>
  </tbody>
</table>

<%= render 'form', project_choice: @project_choice %>
