<p id="notice"><%= notice %></p>

<%= render 'layouts/progressbar', project: @project %>

<p>
  <strong>Desicion:</strong>
  <%= Methodology.find(@project_choice.methodology_id).name %>
</p>

<p>
  <strong>P1:</strong>
  <%= @project_choice.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @project_choice.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @project_choice.p3 %>
</p>


<%= link_to 'Edit', edit_project_project_choice_path(@project_choice) %>
