<%= form_with(model: project, local: true) do |form| %>

<% if project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
    <% project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :name, "Nombre del Proyecto" %><br>
  <%= form.text_field :name, id: :project_name, size: "100" %>
</div><br>
<div class="field">
  <%= form.label :description, "Descripción" %><br>
  <%= form.text_area :description, id: :project_description, size:"100x10", placeholder: "Agrega una descripción breve de tu proyecto" %>
</div>
<br>
<div class="actions">
  <%= form.submit "Crear", class:"btn btn-lg btn-custom" %>
</div>
<% end %>
