<p id="notice"><%= notice %></p>
<h1>Proyecto <%= @project.name %></h1>

<div class="center">
<p>
  <strong>Creado por: </strong>
  <%= @project.user.name%> <%=@project.user.lastname%>
</p>
<p>
  <strong>Descripción: </strong><br>
  <%= @project.description%>
</p>
<% if user_signed_in? %>
  <% if @project.user.id == current_user.id %>
    <%= link_to 'Editar |', edit_project_path(@project) %>
    <%= link_to 'Volver', projects_path %>
  <% end %>
<% end %>
</div>
