<p id="notice"><%= notice %></p>
<h1>Proyecto <%= @project.name %></h1>

<div class="center">
<p>
  <strong>Creado por: </strong>
  <%= @project.user.name%> <%=@project.user.lastname%>
</p>


<%= link_to 'Editar', edit_project_path(@project) %>
</div>
