<p id="notice"><%= notice %></p>

<%= render 'layouts/progressbar', project: @project %>

<p>
  <strong>PASO 1: Conectar: </strong>
  <%= @project_evaluation.q_connect %>
</p>

<p>
  <strong>PASO 2: Elegir</strong>
  <%= @project_evaluation.q_choose %>
</p>

<p>
  <strong>PASO 3: Planificar</strong>
  <%= @project_evaluation.q_plan %>
</p>

<p>
  <strong>PASO 4: Implementar (1)</strong>
  <%= @project_evaluation.q_implement1 %>
</p>

<p>
  <strong>PASO 4: Implementar (2) </strong>
  <%= @project_evaluation.q_implement2 %>
</p>

<p>
  <strong>PASO 4: Implementar (3) </strong>
  <%= @project_evaluation.q_implement3 %>
</p>



<%= link_to 'Edit', edit_project_project_evaluation_path(@project_evaluation) %>
