<%= simple_form_for([@project, @project.project_implementation]) do |form| %>
  <%= form.error_notification %>

  <h2>Bitacoras</h2>

  <div class ="project_bitacoras">
  <%= form.simple_fields_for :project_bitacoras do |builder| %>
      <%= render 'project_bitacora_fields', f: builder %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= link_to_add_association 'Agregar Bitacora', form, :project_bitacoras, class: 'btn btn-primary', data: { association_insertion_node: '.project_bitacoras', association_insertion_method: :append } %>
  </div>

<div class="form-actions">
    <%= form.button :submit %>

</div>

<% end %>
