<%= form_with(model: project_implementation, local: true) do |form| %>
  <% if project_implementation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_implementation.errors.count, "error") %> prohibited this project_implementation from being saved:</h2>

      <ul>
      <% project_implementation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day, id: :project_implementation_day %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations, id: :project_implementation_observations %>
  </div>

  <div class="field">
    <%= form.label :advances %>
    <%= form.text_area :advances, id: :project_implementation_advances %>
  </div>

  <div class="field">
    <%= form.label :conflicts %>
    <%= form.text_area :conflicts, id: :project_implementation_conflicts %>
  </div>

  <div class="field">
    <%= form.label :new_ideas %>
    <%= form.text_area :new_ideas, id: :project_implementation_new_ideas %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :project_implementation_project_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
