<p id="notice"><%= notice %></p>

<h1>Project Implementations</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Observations</th>
      <th>Advances</th>
      <th>Conflicts</th>
      <th>New ideas</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_implementations.each do |project_implementation| %>
      <tr>
        <td><%= project_implementation.day %></td>
        <td><%= project_implementation.observations %></td>
        <td><%= project_implementation.advances %></td>
        <td><%= project_implementation.conflicts %></td>
        <td><%= project_implementation.new_ideas %></td>
        <td><%= project_implementation.project %></td>
        <td><%= link_to 'Show', project_implementation %></td>
        <td><%= link_to 'Edit', edit_project_implementation_path(project_implementation) %></td>
        <td><%= link_to 'Destroy', project_implementation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Implementation', new_project_implementation_path %>
