<p id="notice"><%= notice %></p>

<%= render 'layouts/progressbar', project: @project %>


  <h2>Bitacoras</h2>

  <div class ="project_bitacoras">
  <% @project_implementation.project_bitacoras.map { |m| %>

  <div class="field">
    <p>Dia: 
    <%= m.day %></p>
  </div>

  <div class="field">
    <p>Objetivos: 
    <%= m.objetives %></p>
  </div>

  <div class="field">
    <p>Observaciones: 
    <%= m.observations %></p>
  </div>

  <div class="field">
    <p>Avances: 
    <%= m.advances %></p>
  </div>

  <div class="field">
    <p>Conflictos
    <%= m.conflicts %></p>
  </div>

  <div class="field">
    <p>Nuevas Ideas: 
    <%= m.new_ideas %></p>
  </div>

<% } %>

  </div>



<%= link_to 'Edit', edit_project_project_implementation_path(@project_implementation) %>
