<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @project_implementation.day %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @project_implementation.observations %>
</p>

<p>
  <strong>Advances:</strong>
  <%= @project_implementation.advances %>
</p>

<p>
  <strong>Conflicts:</strong>
  <%= @project_implementation.conflicts %>
</p>

<p>
  <strong>New ideas:</strong>
  <%= @project_implementation.new_ideas %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_implementation.project %>
</p>

<%= link_to 'Edit', edit_project_implementation_path(@project_implementation) %> |
<%= link_to 'Back', project_implementations_path %>
