<tr class="nested-fields">
  <td><%= f.select :methodology_id,
                   ['Elige una metodología...'] | Methodology.all.map { |m| [m.name, "#{m.id}"] },
                   {}, {autofocus: 'true', class: 'form-control'}%></td>

  <td><%= f.text_field :reason, label: false, size: "60", placeholder: "Opcional"%></td>
  <td><%= f.select :utility, [1, 2, 3, 4, 5], {},
                   {autofocus: 'true', class: 'form-control'} %></td>
  <td><%= f.select :pertinence, [1, 2, 3, 4, 5], {},
                   {autofocus: 'true', class: 'form-control'}%></td>
  <td><%= f.select :relevance, [1, 2, 3, 4, 5], {},
                   {autofocus: 'true', class: 'form-control'}%></td>
  <td>
    <%= link_to_remove_association "X", f, class: 'btn btn-danger btn-xs' %>
  </td>
</tr>
