<p id="notice"><%= notice %></p>

<%= render 'layouts/progressbar', project: @project %>

<p>
  <strong>Needs:</strong>
  <%= @project_connection.needs %>
</p>

<p>
  <strong>Ideas:</strong>
  <%= @project_connection.ideas %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_connection.project %>
</p>

<%= link_to 'Edit', edit_project_project_connection_path(@project_connection) %>