<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to image_tag("logo.png", size: "240x80", alt: "EducarChile App"), root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li><%= link_to image_tag(gravatar_url(current_user.email, 48), class:"img-circle"), user_path(current_user.id) %></li>
          <li><%= link_to "Mi Perfil", current_user %></li>
          <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
  
          <% else %>
          <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <br><br>
  <nav class="navbar navbar-light bg-faded" style="background-color:#EEEEEE;">
    <ul class="nav nav-center">
      <li><%=link_to "Metodologias", '#'%></li>
      <li><%=link_to "Proyectos", '#'%></li>
    </ul>
  </nav>
  