<nav class="navbar navbar-light bg-faded" style="background-color:#EEEEEE;">
    <ul class="nav nav-center">
      <li><%= link_to "Principal", project_path(project)%></li>
      <li><%= link_to "Conectar", project_project_connection_path(project)%></li>
      <li><%= link_to "Elegir", project_project_choice_path(project)%></li>
      <li><%= link_to "Planificar", project_project_planification_path(project)%></li>
      <li><%= link_to "Implementar", project_project_implementation_path(project)%></li>
      <li><%= link_to "Evaluar", project_project_evaluation_path(project)%></li>
    </ul>
</nav>
